body{
  background-color: #ecf0f1;
  color: #34495e;
  font-family: 'PT Sans', sans-serif;
  }

header{
  background-color: rgba(22, 160, 133, 0.6);
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  border-radius: 4.3px;
  }

#left-side-bar{
  width: 30%;
  float: left;
  border-radius: 4.3px;
  margin: 1em 0em;
  background: rgba(0,0,0,0.5);
  }

ul {
  font-size: 1.2em;
  list-style: none;
  }

li {
  
  }

h1 {                  
  font-size: 4.5em;
  color: rgba(0,0,0,0.85);
  font-family: 'Cookie', cursive;
  margin-top: 0em;
  margin-bottom: 0em;
  }

a {
  color: #ecf0f1;
  text-decoration: none;
  }

img {
  border-color: rgba(255, 255, 255, 0.85);
  border-width: 0.6em;
  border-radius: 6px;
  border-style: solid;
  }
