body{
  background-color: #ecf0f1;
  color: rgba(0,0,0,0.85);
  font-family: 'PT Sans', sans-serif;
  }

header{
  background-color: rgba(22, 160, 133, 0.6);
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  border-radius: 4.3px;
  }

#container{
  font-family: 'PT Sans', sans-serif;
  float: left;
  height: 100%;
}

#left-bar{
  float:left;
  display: inline-block;
  width: 35%;
}

#work-experience-box{
  float:left;
  margin-top: 3%;
  width: 90%;
  background: #7f8c8d;
  border-radius: 4.3px;
}


#contact-box{
  width: 90%;
  float: left;
  border-radius: 4.3px;
  background: #7f8c8d;
  display: block;
  }

#contact-box h3{
  padding-left: 1em;
  padding-top: 1em;
  font-size: 2em;
}

#contact-box h4{
  padding-left: 2em;
  font-size: 1em;
}
#education-box{
  display: block;
  width:100%;
  background: #7f8c8d;
  margin-top: 1em;
  float: left;
  border-radius: 4.3px;
  padding: 1em;
}

#education-box h3{
  font-size: 2.2em;
}

#education-box h4{
  font-size: 1em;
  font-weight: thick;
}

#education-box h5{
  font-size: 0.8em;
  font-weight: normal;
  margin-bottom: 0%;
}

#education-box p{
  margin-top: 0%;
  margin-bottom: 3%%;
}


#skills-box{
  display: block;
  width:100%;
  background: #7f8c8d;
  margin-top: 1em;
  float: left;
  padding: 1em;
  border-radius: 4.3px;
}

#about-me-box{
  display: block;
  width:100%;
  background: #7f8c8d;
  margin-top: 1em;
  float: left;
  padding: 1em;
  border-radius: 4.3px;
}

#top-left-side-bar h3{
  margin-bottom: 0em;
  font-size: 2em;
}


#contact-icons li{
  display: inline;
}


#right-side-bar{
  width: 60%;
  position:relative;
  display: inline-block;
  float: right;
  margin-top: 1em;
  border-radius: 4.5px;
}

ul {
  font-size: 1.2em;
  list-style: none;
  }

h1 {                  
  font-size: 4em;
  color: rgba(0,0,0,0.85);
  font-family: 'Cookie', cursive;
  margin-top: 0em;
  margin-bottom: 0em;
  }
h2 {
  font-size: 2em;
  color: rgba(0,0,0,0.85);
  font-family: 'Cookie', cursive;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  }
h3 {
  color: rgba(0,0,0,0.8);
  font-size: 1.6em;
  font-family: 'Cookie', cursive;
  margin-top: 0em;
  margin-bottom: 0em;
  }

h4{
  margin-top: 0em;
  font-size: 0.9em;
  font-weight: thick;
  display: inline;
  margin-left: 0em;
  margin-bottom: 0em;
  font-family: 'PT Sans', sans-serif;
}

h5{
  margin-top: 0.2%;
  font-weight: thick;
  font-size: 0.7em;
  font-family: 'PT Sans', sans-serif;
}
#about-me-box h4{
  font-size: 1em;
  font-weight: thick;
}

#about-me-box p{
  margin-top: 0%;
}

.job-duties{
  margin-right: 1em;
  margin-left: -1em;
  margin-top: -1em;
}

.job-duties li{
  list-style: circle;
  font-size: 0.6em;
  padding-top: 0.2em; 
}

a {
  color: #ecf0f1;
  text-decoration: none;
  }

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8em;

}

img#portrait {
  border-color: rgba(255, 255, 255, 0.85);
  border-width: 0.6em;
  border-radius: 6px;
  border-style: solid;
  }


header span:first-of-type {
  width: 20%;
  float: left;
  margin-left: 15%;
  margin-right: -20%
}



/*
@media (max-width: 600px) {

#top-left-side-bar{
  border-radius: 4.3px;
  width: 100;
  display: block;
  background: red;
  }

#right-side-bar{
  background-color: #7f8c8d;
  display: block;
  margin-top: 1em;
  border-radius: 4.5px;
}

#bottom-left-side-bar{
  border-radius: 4.3px;
  margin: 1em 0em;
  float: left;
  }
}
*/
